    <!--POPUP Thêm hành lý ký gửi -->
<div class="modal fade" id="myModalBaggage">
    <div class="modal-dialog" style="max-width: 700px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm hành lý ký gửi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="line-bottom mb24"></div>
                <div class="list-trip grid grid__2 mb16 wrap-baggage-go">
                    <div class="wrap-baggage-go">
                        <div class="baggage-info baggage-info-go trip-info align-center mb0 active">
                            <div class="lbl mt0">Chiều đi</div>
                            <div class="info">
                                <div class="name txt_14 bold full-name-go">Hà Nội (HAN) - Phú Quốc (PQC)</div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-baggage-back d-none">
                        <div class="baggage-info baggage-info-back trip-info align-center mb0">
                            <div class="lbl mt0 red">Chiều về</div>
                            <div class="info">
                                <div class="name txt_14 bold full-name-back">Hà Nội (HAN) - Phú Quốc (PQC)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="baggage-customer-list">
                    <div class="form-group row mb10">
                        <div class="col-md-3"><label class="mt10 black">DINH THANH BÌNH</label></div>
                        <div class="col-md-7">
                            <select class="select2 select-baggage" name="" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>

                <div class="line-bottom mt20 mb24"></div>


                <div class="flex align-center space-between">
                    <div>Tổng </br><strong class="txt_16 total-baggage">297.400đ</strong></div>
                    <button type="submit" class="btn btn-default apply-baggage">Áp dụng</button>
                </div>

            </div>
        </div>
    </div>
</div>