@{
    Layout = null;
}
<div class="tab-content d-none" id="flight-box-search">
    <div class="flex-row">
        <partial name="_SearchFlightBox" />
    </div>
</div>
<script type="text/javascript" src="~/js/modules/flight/boxSearch.js" defer asp-append-version="true"></script>