@{
    ViewData["Title"] = "Phương thức thanh toán";
}
@using ADAVIGO_FRONTEND.ViewModels
@model BankPaymentViewModel
<section class="step-menu">
    <div class="step step1 active">
        <span class="number">
            1
        </span> Chọn phương thức
    </div>
    <div class="step step2">
        <span class="number">
            2
        </span> Xác nhận thông tin chuyển khoản
    </div>
</section>
<section class="main-container clearfix">
    <h2 class="bold txt_24 mb16 mt10">Phương thức thanh toán</h2>
    <div class="flex mb16">
        <div class="col-main">
            <div class="bg-white pd-20 radius10 mb16">
                <input type="hidden" id="fund__payment_tran_code" value="@Model.tran_code" />
                <div class="grid_onepay_bank">
                    @await Component.InvokeAsync("OnePayBank")

                   @* <strong class="bold txt_16">Hướng dẫn chuyển khoản</strong>
                    <div class="gray txt_12 mb16">Vui lòng chọn một ngân hàng bên dưới để chuyển khoản:</div>
                    <ul class="list-bank grid grid__6">
                        <li class="active" title="Ngân Hàng TMCP Kỹ Thương Việt Nam chi nhánh Đông Đô"
                            data-account="19131835226016" 
                            data-alias="Techcombank">
                            <img src="https://static-image.adavigo.com/uploads/images/banklogo/techcombank_logo.png" alt="Techcombank">
                            <span>Techcombank</span>
                        </li>
                        <li title="Ngân hàng TMCP Quốc tế Việt Nam chi nhánh Lý Thường Kiệt"
                            data-account="272789999"
                            data-alias="VIB">
                            <img src="https://static-image.adavigo.com/uploads/images/banklogo/vib_logo.png" alt="VIB">
                            <span>VIB</span>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="col-300">
            <div class="bg-white pd-20 radius10 mb16">
                <div class="head-title">
                    <h2 class="title txt_20 bold mb0">Thông tin thanh toán</h2>
                </div>
                <div class="row mb12">
                    <div class="col-5 gray">Tổng tiền</div>
                    <div class="col-7 bold text-right">@Model.amount.ToString("N0") VND</div>
                </div>
                <div class="line-bottom mb12"></div>
                <div class="row mb12">
                    <div class="col-5 bold txt_16">Thành tiền</div>
                    <div class="col-7 bold color-green txt_18 text-right">@Model.amount.ToString("N0") VND</div>
                    <input type="hidden" id="fund__additional_payment_amount" value="@Model.amount" />
                    <div class="col-12 gray text-right txt_12">Đã bao gồm thuế, phí, VAT</div>
                </div>
                <button type="button" class="btn btn-default full size" id="btn__submit_payment">Thanh toán</button>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script type="text/javascript" src="~/js/modules/payment.js"></script>
}
