@{ 

}
<div class="head-category mb10">
    <div class="head-category__left">
        <div class="title-cate">
            <img src="/images/icons/hotel.png"> Khách sạn chiến lược của Adavigo
        </div>
    </div>
</div>
<div class="tab-default2 placeholder box-placeholder"id="list-location-commit">
    <a href="javascript:;" class="active" title="javascript:;">Phú Quốc</a>
    <a href="javascript:;" >Hồ Chí Minh</a>
    <a href="javascript:;">Bà Rịa - Vũng Tàu</a>
    <a href="javascript:;" >Đà Lạt</a>
    <a href="javascript:;" >Hà Nội</a>
    <a href="javascript:;" >Sa Pa</a>
    <a href="javascript:;" >Phan Thiết</a>
    <a href="javascript:;" >Cần Thơ</a>
    <a href="javascript:;">Đà Nẵng</a>
</div>
<div class="list-article grid grid__4 placeholder box-placeholder" id="list-article-commit">

    <div class="article-itemt full">
        <div class="article-thumb">
            <a class="thumb_img thumb_5x3" href="#">
                <img src="/images/graphics/thumb1.jpg" alt="">
                <div class="tag" style="display:none;">
                    <span class="sale">-{percent}%</span>
                    <span class="free">Miễn phí phụ thu</span>
                </div>
            </a>
        </div>
        <div class="article-content">
            <div class="tag">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#address2"></use>
                </svg> {city}
            </div>
            <h3 class="title_new">
                <a href="#">InterContinental {name}</a>
            </h3>
            <div class="on-star">
                <div class="star">
                    {star}
                </div>
                <a href="#" class="lbl">{hotel_type}</a>
            </div>
            <div class="number-vote" style="display:none;">
                <span class="point">{review_point}</span>
                <span>Tuyệt vời ({review_count} đánh giá)</span>
            </div>
            <div class="bottom-content">
                <div class="price">
                    <p class="price-old">{old_price} đ</p>
                    <div class="price-new">{amount} đ</div>
                </div>
                <a class="vote" href="#">
                    <svg class="icon-svg">
                        <use xlink:href="/images/icons/icon.svg#heart">
                        </use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="article-itemt full">
        <div class="article-thumb">
            <a class="thumb_img thumb_5x3" href="#">
                <img src="/images/graphics/thumb1.jpg" alt="">
                <div class="tag" style="display:none;">
                    <span class="sale">-{percent}%</span>
                    <span class="free">Miễn phí phụ thu</span>
                </div>
            </a>
        </div>
        <div class="article-content">
            <div class="tag">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#address2"></use>
                </svg> {city}
            </div>
            <h3 class="title_new">
                <a href="#">InterContinental {name}</a>
            </h3>
            <div class="on-star">
                <div class="star">
                    {star}
                </div>
                <a href="#" class="lbl">{hotel_type}</a>
            </div>
            <div class="number-vote" style="display:none;">
                <span class="point">{review_point}</span>
                <span>Tuyệt vời ({review_count} đánh giá)</span>
            </div>
            <div class="bottom-content">
                <div class="price">
                    <p class="price-old">{old_price} đ</p>
                    <div class="price-new">{amount} đ</div>
                </div>
                <a class="vote" href="#">
                    <svg class="icon-svg">
                        <use xlink:href="/images/icons/icon.svg#heart">
                        </use>
                    </svg>
                </a>
            </div>
        </div>
    </div><div class="article-itemt full">
    <div class="article-thumb">
        <a class="thumb_img thumb_5x3" href="#">
            <img src="/images/graphics/thumb1.jpg" alt="">
            <div class="tag" style="display:none;">
                <span class="sale">-{percent}%</span>
                <span class="free">Miễn phí phụ thu</span>
            </div>
        </a>
    </div>
    <div class="article-content">
        <div class="tag">
            <svg class="icon-svg">
                <use xlink:href="/images/icons/icon.svg#address2"></use>
            </svg> {city}
        </div>
        <h3 class="title_new">
            <a href="#">InterContinental {name}</a>
        </h3>
        <div class="on-star">
            <div class="star">
                {star}
            </div>
            <a href="#" class="lbl">{hotel_type}</a>
        </div>
        <div class="number-vote" style="display:none;">
            <span class="point">{review_point}</span>
            <span>Tuyệt vời ({review_count} đánh giá)</span>
        </div>
        <div class="bottom-content">
            <div class="price">
                <p class="price-old">{old_price} đ</p>
                <div class="price-new">{amount} đ</div>
            </div>
            <a class="vote" href="#">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#heart">
                    </use>
                </svg>
            </a>
        </div>
    </div>
</div><div class="article-itemt full">
    <div class="article-thumb">
        <a class="thumb_img thumb_5x3" href="#">
            <img src="/images/graphics/thumb1.jpg" alt="">
            <div class="tag" style="display:none;">
                <span class="sale">-{percent}%</span>
                <span class="free">Miễn phí phụ thu</span>
            </div>
        </a>
    </div>
    <div class="article-content">
        <div class="tag">
            <svg class="icon-svg">
                <use xlink:href="/images/icons/icon.svg#address2"></use>
            </svg> {city}
        </div>
        <h3 class="title_new">
            <a href="#">InterContinental {name}</a>
        </h3>
        <div class="on-star">
            <div class="star">
                {star}
            </div>
            <a href="#" class="lbl">{hotel_type}</a>
        </div>
        <div class="number-vote" style="display:none;">
            <span class="point">{review_point}</span>
            <span>Tuyệt vời ({review_count} đánh giá)</span>
        </div>
        <div class="bottom-content">
            <div class="price">
                <p class="price-old">{old_price} đ</p>
                <div class="price-new">{amount} đ</div>
            </div>
            <a class="vote" href="#">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#heart">
                    </use>
                </svg>
            </a>
        </div>
    </div>
</div>
</div>
<div class="text-right mt24"><a class="btn-default size view-more-commit" style="" href="javascript:;">Xem tất cả</a></div>
