@{
    Layout = null;
    //Nha Trang -> đà nẵng -> phú quốc -> Hạ long
}
<div class="bg-white pd-20 radius10 mb20">
    <!-- Khách sạn chiến lược của Adavigo -->
    <div class="head-category mb20">
        <div class="title-cate">
            <img src="images/icons/hotel.png" alt="">Khách sạn chiến lược của Adavigo
        </div>
    </div>
    <div id="hotel-location" class="list-hotel">
        <div class="box-hotel-home placeholder box-placeholder" data-name="Nha Trang" data-type="0" style="min-height:405px;">
            <div class="diadiem">
                <h3>Nha Trang</h3>
                <a class="btn-default gray size hotel-location-viewmore" href="javascript:;">Xem tất cả</a>
            </div>
            <div class="list-article slide-popular relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                       

                    </div>
                </div>
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#prev"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#next"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="box-hotel-home placeholder box-placeholder" data-name="Đà nẵng" data-type="0" style="min-height:405px;">
            <div class="diadiem">
                <h3>Đà nẵng</h3>
                <a class="btn-default gray size hotel-location-viewmore" href="javascript:;">Xem tất cả</a>
            </div>
            <div class="list-article slide-popular relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#prev"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#next"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="box-hotel-home placeholder box-placeholder" data-name="Phú Quốc" data-type="0" style="min-height:405px;">
            <div class="diadiem">
                <h3>Phú Quốc</h3>
                <a class="btn-default gray size hotel-location-viewmore" href="javascript:;">Xem tất cả</a>
            </div>
            <div class="list-article slide-popular relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#prev"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#next"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="box-hotel-home placeholder box-placeholder" data-name="Hạ Long" data-type="0" style="min-height:405px;">
            <div class="diadiem">
                <h3>Hạ Long</h3>
                <a class="btn-default gray size hotel-location-viewmore" href="javascript:;">Xem tất cả</a>
            </div>
            <div class="list-article slide-popular relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#prev"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#next"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>