@{
    ViewData["Title"] = "Khách sạn có theo địa điểm";
}
<section class="main-container clearfix">
    <div class="lightgallery grid grid__2 mb30">
        <div class="item">

        </div>
        <div class="grid grid__2">

        </div>
    </div>

    <div class="flex mb40">
        <div class="col-300 order-1">
            <div class="bg-white radius_10 pd-24 sticky" style="top: 20px;">
                <div class="bold mb15">Điểm đến</div>
                <select id="listing-filter-location" style="width:100%;">
                </select>
                <div class="bold mb15">Ngày checkin</div>
                <input class="datepicker-input form-control date-range-fromdate" type="text" value="" autocomplete="off" />
                <div class="bold mb15">Ngày checkout</div>
                <input class="datepicker-input form-control date-range-todate" type="text" value="" autocomplete="off" />
                <a class="btn-default full search-location"style=" margin-top: 50px; " href="#">Tìm kiếm</a>
            </div>
           

        </div>
        <div class="col-main order-2">
            
          
            <div class="head-category mb10" style=" margin-top: 50px; ">
                <div class="head-category__left">
                    <div class="title-cate">
                        <img src="/images/icons/hotel.png"> Khách sạn chiến lược của Adavigo
                    </div>
                </div>
            </div>
            <div id="list-article-commit" class="list-article grid grid__4">

            </div>
            <div id="other-detail">

            </div>

        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript" src="~/js/modules/hotel-constants.js"></script>
    <script type="text/javascript" src="~/js/modules/hotel-commits.js"></script>

}
