@{
    ViewData["Title"] = "Index";
    bool isVinHotel = Convert.ToBoolean(Model.isVinHotel);
}
@using ADAVIGO_FRONTEND.ViewModels
@model HotelSearchParamModel

<section class="tab-menu-folder">
    <a href="#" class="active">Đặt phòng</a>
    <a class="hidden" href="#">Giữ chỗ của tôi</a>
</section>
<section class="main-container clearfix">
    <div class="wrap-search">
        <h2 class="title txt_20 bold mb16">Đặt phòng</h2>
        <div class="hotel tab-menu flex">
            <a class="cursor-pointer hotel_tab_type @(!isVinHotel ? "active":"")" data-id="0">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#building"></use>
                </svg>
                <span>Khách sạn toàn quốc</span>
            </a>
            <a class="cursor-pointer hotel_tab_type @(isVinHotel ? "active":"")" data-id="1">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#building"></use>
                </svg>
                <span>Khách sạn Vinpearl</span>
            </a>
        </div>
        @await Html.PartialAsync("BoxFilter", Model)
    </div>
   @*  <div id="hotel_listing_holder" style="display: none;">
        @await Html.PartialAsync("ListingFilter")
    </div>
    <div class="flex" id="hotel_fund_data_holder">
        <div class="col-main mb16" id="fund_hotel_holder">
            @await Component.InvokeAsync("FundHotel")
        </div>
        <div class="col-300 mb16">
            @await Component.InvokeAsync("NewsFeed", new { isShowSlider = true })
        </div>
    </div>
    <div id="hotel_listings_commit">
        <partial name="/Views/Hotel/HotelCommitListing.cshtml" />

    </div>
    <div id="hotel_listings_sale">
        <partial name="/Views/Hotel/HotelExclusiveListing.cshtml" />

    </div> *@
    <partial name="/Views/Hotel/HotelByLocation.cshtml" />
    <partial name="/Views/Hotel/HotelListing.cshtml" />

</section>
@section scripts{
    <script type="text/javascript" src="~/js/modules/home.js"></script>
    <script type="text/javascript" src="~/js/modules/hotel.js"></script>
    <script type="text/javascript" src="~/js/modules/hotel-constants.js"></script>
  @*   <script type="text/javascript" src="~/js/modules/hotel-exclusive-listing.js"></script>
    <script type="text/javascript" src="~/js/modules/hotel-commit-listing.js"></script> *@
    <script type="text/javascript" src="~/js/modules/hotel-home-location.js"></script>
    <script type="text/javascript" src="~/js/modules/hotel-home-listing.js"></script>

}



