<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Khách sạn</a></li>
    @*<li class="breadcrumb-item active" aria-current="page">Chuyến bay từ Hà Nội đến Phú Quốc</li>*@
</ol>
<h2 class="title txt_24 mb24 bold" id="hotel_result_title"></h2>
<div class="flex mb40">
    <div class="col-left" id="hotel__filter_options">
    
    </div>
    <div class="col-right">
        <div class="bg-white pd-12 radius10 mb16">
            <div class="head-sort flex space-between align-center">
                <div class="sort">
                    <span class="gray">Sắp xếp :</span>
                    <a class="btn-default min" href="#">Phù hợp nhất</a>
                    <a class="medium ml-2" href="#">Rẻ nhất</a>
                    <span class="line-left ml-2"></span>
                    <a class="medium ml-2" href="#">Đắt nhất</a>
                    <span class="line-left ml-2"></span>
                    <a class="medium ml-2" href="#">Xếp hạng sao</a>
                    <span class="line-left ml-2"></span>
                    <a class="medium ml-2" href="#">Đánh giá cao nhất</a>
                </div>
                <div class="flex">
                    <span class="gray">
                        <img src="images/icons/lightning.svg" alt="">
                        Xác nhận ngay
                    </span>
                    <div class="btn-on-off ml-3">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-article list-article__v2" id="hotel__filter_listing">
            
        </div>
    </div>
    <div class="col-left" style="margin-left: 30px;display:none;">
        <div class="map-detail">
            <a href="#" class="close-map">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#close">
                    </use>
                </svg>
            </a>
            <img src="images/graphics/map2.png" alt="" style="width: 100%">
        </div>
    </div>
</div>
