@{
    Layout = null;
}
<div id="hotel-recent" class="bg-white pd-20 radius10 placeholder box-placeholder">
    <!-- Xem gần đây -->
    <div class="head-category mb20">
        <div class="title-cate">
            <img src="images/icons/clock.svg" alt="">Xem gần đây
        </div>
    </div>
    <div class="list-article grid grid__6 placeholder">

        <div class="article-itemt full article-hotel-item">
            <div class="article-thumb">
                <a class="thumb_img thumb_5x3" href="#">
                    <img src="images/graphics/thumb1.jpg" alt="">

                    <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                </a>
            </div>
            <div class="article-content">
                <h3 class="title_new">
                    <a href="#">The Sailing Bay Beach Resort</a>
                </h3>
                <div class="on-star">
                    <div class="star">
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                    </div>
                    <span>(4.9/5.0)</span>
                </div>
                <div class="number-vote">
                    <span>(431 đánh giá)</span>
                </div>
                <div class="bottom-content">
                    <p class="price-old">569.000 đ</p>
                    <div class="price">533.000 đ</div>
                </div>
                <div class="block-code">
                    Mã:<span class="code">MUNGXUAN2025</span>
                    <span class="sale">-2%</span>
                    <div class="price-new">1.881.055 VND</div>
                </div>
            </div>
        </div>

        <div class="article-itemt full article-hotel-item">
            <div class="article-thumb">
                <a class="thumb_img thumb_5x3" href="#">
                    <img src="images/graphics/thumb1.jpg" alt="">

                    <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                </a>
            </div>
            <div class="article-content">
                <h3 class="title_new">
                    <a href="#">The Sailing Bay Beach Resort</a>
                </h3>
                <div class="on-star">
                    <div class="star">
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                    </div>
                    <span>(4.9/5.0)</span>
                </div>
                <div class="number-vote">
                    <span>(431 đánh giá)</span>
                </div>
                <div class="bottom-content">
                    <p class="price-old">569.000 đ</p>
                    <div class="price">533.000 đ</div>
                </div>
                <div class="block-code">
                    Mã:<span class="code">MUNGXUAN2025</span>
                    <span class="sale">-2%</span>
                    <div class="price-new">1.881.055 VND</div>
                </div>
            </div>
        </div>

        <div class="article-itemt full article-hotel-item">
            <div class="article-thumb">
                <a class="thumb_img thumb_5x3" href="#">
                    <img src="images/graphics/thumb1.jpg" alt="">

                    <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                </a>
            </div>
            <div class="article-content">
                <h3 class="title_new">
                    <a href="#">The Sailing Bay Beach Resort</a>
                </h3>
                <div class="on-star">
                    <div class="star">
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                    </div>
                    <span>(4.9/5.0)</span>
                </div>
                <div class="number-vote">
                    <span>(431 đánh giá)</span>
                </div>
                <div class="bottom-content">
                    <p class="price-old">569.000 đ</p>
                    <div class="price">533.000 đ</div>
                </div>
                <div class="block-code">
                    Mã:<span class="code">MUNGXUAN2025</span>
                    <span class="sale">-2%</span>
                    <div class="price-new">1.881.055 VND</div>
                </div>
            </div>
        </div>

        <div class="article-itemt full article-hotel-item">
            <div class="article-thumb">
                <a class="thumb_img thumb_5x3" href="#">
                    <img src="images/graphics/thumb1.jpg" alt="">

                    <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                </a>
            </div>
            <div class="article-content">
                <h3 class="title_new">
                    <a href="#">The Sailing Bay Beach Resort</a>
                </h3>
                <div class="on-star">
                    <div class="star">
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                    </div>
                    <span>(4.9/5.0)</span>
                </div>
                <div class="number-vote">
                    <span>(431 đánh giá)</span>
                </div>
                <div class="bottom-content">
                    <p class="price-old">569.000 đ</p>
                    <div class="price">533.000 đ</div>
                </div>
                <div class="block-code">
                    Mã:<span class="code">MUNGXUAN2025</span>
                    <span class="sale">-2%</span>
                    <div class="price-new">1.881.055 VND</div>
                </div>
            </div>
        </div>

        <div class="article-itemt full article-hotel-item">
            <div class="article-thumb">
                <a class="thumb_img thumb_5x3" href="#">
                    <img src="images/graphics/thumb1.jpg" alt="">

                    <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                </a>
            </div>
            <div class="article-content">
                <h3 class="title_new">
                    <a href="#">The Sailing Bay Beach Resort</a>
                </h3>
                <div class="on-star">
                    <div class="star">
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                        <svg class="icon-svg">
                            <use xlink:href="/images/icons/icon.svg#star">
                            </use>
                        </svg>
                    </div>
                    <span>(4.9/5.0)</span>
                </div>
                <div class="number-vote">
                    <span>(431 đánh giá)</span>
                </div>
                <div class="bottom-content">
                    <p class="price-old">569.000 đ</p>
                    <div class="price">533.000 đ</div>
                </div>
                <div class="block-code">
                    Mã:<span class="code">MUNGXUAN2025</span>
                    <span class="sale">-2%</span>
                    <div class="price-new">1.881.055 VND</div>
                </div>
            </div>
        </div>

    </div>
</div>