@{
    Layout = null;
}
<div id="hotel-recent" class="bg-white pd-20 radius10 placeholder box-placeholder">
    <!-- Xem gần đây -->
    <div class="head-category mb20">
        <div class="title-cate">
            <img src="images/icons/clock.svg" alt="">Xem gần đây
        </div>
    </div>
    <div class="list-article slide-popular relative">
        <div class="swiper-container">
            <div class="swiper-wrapper">
            </div>
            <div class="swiper-button-prev">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#prev"></use>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg class="icon-svg">
                    <use xlink:href="/images/icons/icon.svg#next"></use>
                </svg>
            </div>
        </div>
        
    </div>
</div>