@{
}
<div class="modal fade form-voucher" id="hotel-order-voucher">
    <div class="modal-dialog" style="max-width: 640px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title-popup">Chọn voucher</h4>

                <button type="button" class="close close-temporary" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="content">
                    <div class="code-voucher">
                        <div class="form-code">
                            <input type="text" placeholder="Nhập mã Voucher" />
                            <button type="submit" title="Tìm kiếm" class="btn-search btn-default">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="list-voucher">
                        <div class="item item-voucher">
                            <div class="img">
                                <div>
                                    <span class="des">Đối tác chiến lược</span>
                                    <div class="percent">-15%</div>
                                </div>
                            </div>
                            <div class="info">
                                <h4 class="name">Giảm đậm gơn 20%</h4>
                                <p class="date">HSD: 7/9/2022</p>
                                <a href="" class="link">Điều kiện </a>
                            </div>
                            <div class="box-radio">
                                <input type="radio" id="radio" class="radio" />
                                <label for="radio"></label>
                            </div>
                        </div>
                        <div class="item item-voucher disabled">
                            <div class="img">
                                <div>
                                    <!-- <span class="des">Đối tác chiến lược</span> -->
                                    <div class="percent">-15%</div>
                                </div>
                            </div>
                            <div class="info">
                                <h4 class="name">Giảm đậm gơn 20%</h4>
                                <p class="date">HSD: 7/9/2022</p>
                                <a href="" class="link">Điều kiện </a>
                            </div>
                            <div class="box-radio">
                                <input type="radio" id="radio" class="radio" />
                                <label for="radio"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <a href="close close-temporary" class="btn-default  gray btn-back">Trở lại</a>
                    <a href="hotel-order-voucher-popup-confirm" class="btn-default btn-base btn-save">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>