<div class="modal fade" id="successModal">
    <div class="modal-dialog" style="max-width: 335px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="center" style="width:100%"><img src="~/images/graphics/success.png" alt=""></div>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body center">
                <h4 class="txt_16 bold mb10" id="successModal-title">Đăng ký thành công</h4>
                <div class="gray mb16" id="successModal-message">
                    Bạn đã hoàn tất việc đăng ký, vui lòng tiếp tục sử dụng sản phẩm
                </div>
                <button type="submit" data-dismiss="modal" class="btn btn-default gray" style="width: 205px">Đóng</button>
            </div>
        </div>
    </div>
</div>