<div class="modal fade" id="errorModal">
    <div class="modal-dialog" style="max-width: 335px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="center" style="width:100%"><img src="~/images/graphics/404.svg" alt=""></div>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body center">
                <h4 class="txt_16 bold mb10" id="errorModal-title">Không tìm thấy thông tin</h4>
                <div class="gray mb16" id="errorModal-message">
                    Trang quý khách đang tìm kiếm bị lỗi hoặc không tồn tại
                </div>
                <button type="submit" data-dismiss="modal" class="btn btn-default gray" style="width: 205px">Quay lại</button>
            </div>
        </div>
    </div>
</div>