    <!--POPUP expire time -->
<div class="modal fade" id="supportModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 350px;">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body center">
                <div class="mb12"><img src="~/images/icons/notification.svg" alt=""></div>
                <h4 class="txt_16 bold mb10" id="supportModal-title">Xin vui lòng thử lại sau ít phút</h4>
                <div class="gray mb16" id="supportModal-message">
                    Nếu cần được hỗ trợ ngay vui lòng liên hệ tổng đài 0936 191192 để nhân viên Adavigo phục vụ quý khách.
                </div>
                <a href="/">
                    <button type="submit" class="btn btn-default">Quay về trang chủ</button>
                </a>
            </div>
        </div>
    </div>
</div>
