.wrap-search .flexbox
{
    width:100% !important;

}
    .wrap-search .flexbox .btn-search {
        height: initial !important;
    }
.banner-tour .tab-menu a {
    margin:0 !important;
}
.nav-left a svg {
    width:100% !important;
}
.home-v2 .article-hotel-item .sale{
    font-size:8px;
}
.home-v2 .article-hotel-item .sale {
    font-size: 8px;
}
.box-hotel-home .swiper-slide {
    min-height: 390px !important;
}