@{
    ViewData["Title"] = "Quên mật khẩu - Adavigo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using ENTITIES.ViewModels.Client;
@model ClientForgetPasswordViewModel

@section SocialMetaTags {
<!--Facebook Open Graph-->
<meta property="og:title" content="Đặt phòng khách sạn, tour du lịch, vé máy bay - Adavigo" />
<meta property="og:description" content="Adavigo chuyên dịch vụ Đặt phòng khách sạn, tour du lịch, vé máy bay" />
<meta property="og:url" content="https://www.adavigo.com" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="adavigo.com" />
}

<div class="form-login">
    <div class="row" style="height:100%">
        <div class="col-lg-8 col-md-7 form-login__left d-none d-md-block"></div>
        <div class="col-lg-4 col-md-5 form-login__right">
            @await Html.PartialAsync("FormForgotPassword",Model)
        </div>
    </div>
</div>