@{
    Layout = null;
}
@model ENTITIES.ViewModels.Client.ClientForgetPasswordViewModel
<form id="form_forget_password" asp-controller="Client" asp-action="ForgotPassword">
    @Html.AntiForgeryToken()
    <div class="mb40"><img src="/images/graphics/logo.svg" alt=""></div>
    <h2 class="bold txt_20 mb20">Gửi email xác nhận</h2>
    <div class="form-default">
       <div class="form-group text-center txt_16">
            <span class="color-green">@ViewBag.SuccessMessage</span>
        </div>
        <div class="form-group">
            <label>Địa chỉ Email</label>
            <input type="text" name="Email" class="form-control" value="@Model.Email" placeholder="Nhập địa chỉ Email">
            <span asp-validation-for="Email" class="error mt5"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-default full size">Xác nhận</button>
        </div>
        <div class="form-group">
            <a type="button" class="btn-default full size gray" href="/login">Quay lại</a>
        </div>
    </div>
    <div class="gray txt_12">© 2022 - Công ty cổ phần thương mại &amp; dịch vụ quốc tế Đại Việt</div>
</form>