@{
    ViewData["Title"] = "Quên mật khẩu - Adavigo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using ENTITIES.ViewModels.Client;
@model ClientMailTokenModel

@section SocialMetaTags {
<!--Facebook Open Graph-->
<meta property="og:title" content="Đặt phòng khách sạn, tour du lịch, vé máy bay - Adavigo" />
<meta property="og:description" content="Adavigo chuyên dịch vụ Đặt phòng khách sạn, tour du lịch, vé máy bay" />
<meta property="og:url" content="https://www.adavigo.com" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="adavigo.com" />
}

<link rel="stylesheet" href="/css/toastr.min.css" media="all" />
<div class="form-login">
    <div class="row" style="height:100%">
        <div class="col-lg-8 col-md-7 form-login__left d-none d-md-block"></div>

        <div class="col-lg-4 col-md-5 form-login__right" id="html_client_change_pass">
            <div class="mb40"><img src="/images/graphics/logo.svg" alt=""></div>
            <h2 class="bold txt_20 mb20">Thay đổi mật khẩu mới</h2>
            @if (Model != null)
            {
                if (Model.expireTime.AddDays(1) < DateTime.Now)
                {
                    <div class="form-group">
                        <span class="color-main txt_16">Yêu cầu thay đổi mật khẩu cho tài khoản <strong>@Model.email</strong> có email đã hết hạn</span>
                    </div>
                }
                else
                {
                    <div class="form-default">
                        <form id="form_client_change_pass">
                            <div class="form-group row">
                                <input type="hidden" name="email" value="@Model.email" />
                                <input type="hidden" name="token" value="@Model.token" />
                                <div class="col-md-3"><label class="gray mt10">Mật khẩu mới</label></div>
                                <div class="col-md-9">
                                    <div class="relative password-wrap input-icon">
                                        <svg class="icon-svg">
                                            <use xlink:href="images/icons/icon.svg#Lock"></use>
                                        </svg>
                                        <input type="password" name="password_new" id="password_new" class="form-control" placeholder="Nhập mật khẩu mới">
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3"><label class="gray mt10">Xác nhận mật khẩu</label></div>
                                <div class="col-md-9">
                                    <div class="relative password-wrap input-icon">
                                        <svg class="icon-svg">
                                            <use xlink:href="images/icons/icon.svg#Lock"></use>
                                        </svg>
                                        <input type="password" name="confirm_password_new" class="form-control" placeholder="Nhập lại mật khẩu mới">
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button type="button" class="btn-default full gray" onclick="_account.ResetForm()">Nhập lại</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn-default full" onclick="_account.OnChangePass()">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            }
            else
            {
                <div class="form-group">
                    <span class="color-main txt_16">Không tìm thấy thông tin tài khoản cần thay đổi</span>
                </div>
            }
            <div class="gray txt_12 mt20">© 2022 - Công ty cổ phần thương mại &amp; dịch vụ quốc tế Đại Việt</div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/global/global_script.js"></script>
<script type="text/javascript" src="~/js/modules/client-reset-password.js"></script>
}
