@using ADAVIGO_FRONTEND.Models.Configs
@using ADAVIGO_FRONTEND.ViewModels
@{
    ViewData["Title"] = "Thông tin khách hàng";
    AccountModel _UserManager = (AccountModel)ViewBag.UserManager;
}
<style>
    .on-star .star svg {
        fill: #F6A500;
    }
    .select2-container{
        width:100% !important;
    }
</style>
<section class="step-menu">
    <div class="step step1 active success">
        <span class="number">1</span>
       @*  <span class="number">
            <svg class="icon-svg">
                <use xlink:href="/images/icons/icon.svg#checkmark"></use>
            </svg>
        </span>  *@Thông tin đơn hàng
    </div>

    <div class="step step2">
        <span class="number">2</span> Thanh toán
    </div>
    <div class="step step3">
        <span class="number">3</span> Hoàn thành
    </div>
</section>
<input id="tour-schedule-flex" style="display:none" />
<section class="main-container clearfix">
    <div class="flex mb16">
        <div class="col-main">
            <div class="bg-white pd-20 radius10 mb16">
                <form id="form_order_client_info" onsubmit="return false">
                    <div id="contact-info-form" class="mb30">
                        <h2 class="bold txt_20 mb16">Thông tin thành viên chính</h2>
                        <div class="line-bottom mb16"></div>
                        <div class="form-group hidden">
                            <label class="" for="exampleInputEmail1">Danh xưng</label>
                            <div class="sort-list flex">
                                <label class="confir_res circle mb0">
                                    Ông
                                    <input type="radio" name="rad_present_sex" checked="">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="confir_res circle mb0 ml-3">
                                    Bà
                                    <input type="radio" name="rad_present_sex">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="confir_res circle mb0 ml-3">
                                    Khác
                                    <input type="radio" name="rad_present_sex">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="">Họ và tên trưởng đoàn</label>
                                    <div class="row row__grid_8">
                                        <input type="text" class="form-control" name="firstName" placeholder="Tên" value="@_UserManager.name">
                                    </div>
                                </div>
                                <div class="col-md-4 mb16">
                                    <label class="">Số điện thoại</label>
                                    <input type="text" class="form-control" name="phoneNumber" placeholder="Số điện thoại" value="@_UserManager.phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="">Địa chỉ (Quốc gia, tỉnh, thành phố)</label>
                                    <div class="row row__grid_8">
                                        <div class="col-md-4 mb16">
                                            <input type="text" class="form-control" name="country" placeholder="Nhập quốc gia" value="Việt Nam">
                                        </div>
                                        <div class="col-md-8 mb16">
                                            <input type="text" class="form-control" name="address" placeholder="Nhập quốc tịch" value="Việt Nam">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb16">
                                    <label class="">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Nhập email" value="@_UserManager.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="gray" for="exampleInputEmail1">Lưu ý</label>
                            <textarea class="form-control" name="note" rows="4"></textarea>
                        </div>
                        <div class="form-group flex hidden">
                            <input type="file" class="hidden" id="import_data_guest">
                            <button type="button" class="btn btn-default upload size" onclick="$('#import_data_guest').trigger('click');">
                                <svg class="icon-svg mr-1" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.9414 15.0002C16.9414 15.5525 16.4937 16.0002 15.9414 16.0002H1.94141C1.38912 16.0002 0.941406 15.5525 0.941406 15.0002C0.941406 14.448 1.38912 14.0002 1.94141 14.0002H15.9414C16.4937 14.0002 16.9414 14.4479 16.9414 15.0002ZM5.39838 5.5433C5.65428 5.5433 5.91022 5.44567 6.10547 5.25039L7.94141 3.41445V11.1253C7.94141 11.6775 8.38912 12.1253 8.94141 12.1253C9.49369 12.1253 9.94141 11.6775 9.94141 11.1253V3.41445L11.7773 5.25039C12.1679 5.64092 12.801 5.64092 13.1916 5.25039C13.5821 4.85986 13.5821 4.22671 13.1916 3.83617L9.6485 0.293143C9.25797 -0.0973887 8.62481 -0.0973887 8.23428 0.293143L4.69125 3.83617C4.30072 4.22671 4.30072 4.85986 4.69125 5.25039C4.88653 5.44567 5.14244 5.5433 5.39838 5.5433Z" fill="#1254FF" />
                                </svg>
                                Upload danh sách khách nhanh
                            </button>
                            <a type="button" class="btn btn-default download size" href="/templates/excels/template_import_room_member.xlsx">
                                <svg class="icon-svg mr-1" width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.90141 8.64C7.58141 8.32 7.10141 8.32 6.78141 8.64L5.34141 10.08V0.8C5.34141 0.32 5.02141 0 4.54141 0C4.06141 0 3.74141 0.32 3.74141 0.8V10.08L2.30141 8.64C1.98141 8.32 1.50141 8.32 1.18141 8.64C0.861406 8.96 0.861406 9.44 1.18141 9.76L3.98141 12.56C4.14141 12.72 4.38141 12.8 4.54141 12.8C4.70141 12.8 4.94141 12.72 5.10141 12.56L7.90141 9.76C8.22141 9.44 8.22141 8.88 7.90141 8.64Z" fill="#1254FF" />
                                </svg>
                                Tải mẫu danh sách khách nhanh
                            </a>
                        </div>
                    </div>
                   
                    <div class="mb30">

                        <h2 class="txt_24 bold mb16">Thông tin hành khách</h2>
                        <div class="line-bottom mb16"></div>
                        <div class="bg-white pd-20 radius10 mb40">
                            <div class="row">
                                <div class="flex mb16 space-between align-center col-md-6">
                                    <div>Người lớn</div>
                                    <div class="sl_giohang">
                                        <div class="input-group-prepend">
                                            <button class="giam_sl" id="minus-btn">-</button>
                                        </div>
                                        <input type="number" id="qty_input-adt" class="qty_input" value="1" min="1">
                                        <div class="input-group-prepend">
                                            <button class="tang_sl" id="plus-btn">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex mb16 space-between align-center col-md-6">
                                    <div>Trẻ em</div>
                                    <div class="sl_giohang">
                                        <div class="input-group-prepend">
                                            <button class="giam_sl" id="minus-btn">-</button>
                                        </div>
                                        <input type="number" id="qty_input-chd" class="qty_input" value="1" min="0">
                                        <div class="input-group-prepend">
                                            <button class="tang_sl" id="plus-btn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-300">
            <div class="bg-white sticky pd-20 radius10 mb16">
                <div class="head-title">
                    <h2 class="title txt_20 bold mb0">Thông tin Tour</h2>
                </div>
                <div class="mb12">
                    <strong class="tour-name">Tên Tour: Tên Tour</strong>
                </div>
                <div class="line-bottom mb12"></div>
                <div class="row mb10 align-start">
                    <div class="col-8">
                        <div class="flex mb10">
                            <div class="on-star">
                                <div class="star">
                                    (star)
                                </div>
                            </div>
                        </div>
                        <div class="flex mb10">
                            <svg class="icon-svg mr-2">
                                <use xlink:href="/images/icons/icon.svg#date"></use>
                            </svg>
                            <span id="total_nights" class="mr-2 ">(days)</span>
                        </div>
                        <div class="flex">
                            <svg class="icon-svg mr-2">
                                <use xlink:href="/images/icons/icon.svg#tickets"></use>
                            </svg>
                            <div class="mr-2">
                                <div>Số lượng khách</div>
                                <span class="gray txt_12"><nw id="qty_adt"> 1 </nw> người lớn <nw id="qty_chd"> </nw> <nw id="qty_inf"></nw> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row"><img width="90" height="90" src="(img)"></div>
                    </div>
                </div>
                <table class="table table-noborder gray mb10">
                    <thead>
                        <tr>
                            <th class="color-body" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style=" vertical-align: middle;">
                                Ngày khởi hành
                            </td>

                            <td id="select-date-departure" class="" colspan="2" style=" vertical-align: middle; font-weight: bold; color: black; ">

                                <input id="tour-detail-schedule-flex" class="form-control datepicker-input tour-detail-schedule-flex" type="text" name="birthday" placeholder="dd/mm/yyyy">
                            </td>
                            <td id="tour-schedule-fixed" class="" colspan="2" style=" vertical-align: middle; font-weight: bold; color: black; ">
                                <select id="tour-detail-schedule-fixed" class="form-control" ></select>
                               
                            </td>
                        </tr>
                        @*<tr>
                            <div class="input-button mb16" id="voucher" bis_skin_checked="1">
                                <input type="text" class="form-control" id="voucher-code" placeholder="Nhập mã giảm giá">
                                <button id="summit-voucher" class="">Áp dụng</button>
                            </div>
                        </tr>*@
                        <tr>
                            <td style=" vertical-align: middle;" colspan="3"><strong>Chi tiết đơn hàng</strong></td>

                        </tr>
                        <tr id="price-adt">
                            <td>Người lớn</td>
                            <td> <nw id="booking-adt">1</nw> x <nw class="base-price-adt-nw">1</nw> đ</td>
                            <td class="color-body text-right"><nw id="amount-adt">0</nw> đ</td>
                        </tr>
                        <tr id="price-chd">
                            <td>Trẻ em</td>
                            <td> <nw id="booking-chd">1</nw> x <nw class="base-price-chd-nw">1</nw> đ</td>
                            <td class="color-body text-right"><nw id="amount-chd">0</nw> đ</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                        </tr>

                    </tbody>
                </table>
                <div class="flex mb12">
                    <div class="bold txt_16">Tổng cộng</div>
                    <div class="bold txt_18 color-green text-right total-amount" style="width:calc(100% - 76px);">0 VNĐ</div>
                </div>
                <div class="gray text-right mb24">Giá đã bao gồm phí dịch vụ và thuế GTGT</div>
                <button type="button" id="btn_continue_to_payment" class="btn btn-default blue full size">Tiếp tục đơn hàng</button>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/js/modules/tour/constants.js"></script>
    <script type="text/javascript" src="~/js/modules/tour/global.js"></script>
    <script type="text/javascript" src="~/js/modules/tour/customer_information.js"></script>

}