
@{
    Layout = null;
}
<tr>
    <td>5/4/2021</td>
    <td>M000021587</td>
    <td>Fussion Resort Phú Quốc</td>
    <td>Hoàn thành</td>
    <td>Trần Ngọc Đại</td>
    <td>5/4/2021</td>
    <td>5/4/2021</td>
</tr>