@{
    Layout=null;
}
<div class="header-title mb16">
    <h2 class="title-cate">Khởi hành từ Hà Nội</h2>
    <p class="gray">
        Chúng tôi tìm thấy 5 tour cho Quý khách.
    </p>
</div>
<div class="list-article grid grid__3 mb20">
    <div class="article-itemt full">
        <div class="article-thumb">
            <a class="thumb_img thumb_5x3" href="#">
                <img src="images/graphics/thumb1.jpg" alt="">
                <div class="tag">
                    <span class="sale">-2%</span>
                    <span class="free">Miễn phí phụ thu</span>
                </div>
            </a>
        </div>
        <div class="article-content">
            <div class="tag">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#address2"></use>
                </svg> Phú Quốc
            </div>
            <h3 class="title_new">
                <a href="#">InterContinental Phú Quốc Long Beach Resort</a>
            </h3>
            <div class="on-star">
                <div class="star">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                </div>
                <a href="#" class="lbl">Khu nghỉ dưỡng</a>
            </div>
            <div class="number-vote">
                <span class="point">9,7</span>
                <span>Tuyệt vời (177 đánh giá)</span>
            </div>
            <div class="bottom-content">
                <div class="price">
                    <p class="price-old">569.000 đ</p>
                    <div class="price-new">533.000 đ</div>
                </div>
                <a class="btn-default gray" href="#">Đặt ngay</a>
            </div>
        </div>
    </div>
    <div class="article-itemt full">
        <div class="article-thumb">
            <a class="thumb_img thumb_5x3" href="#">
                <img src="images/graphics/thumb2.jpg" alt="">
                <div class="tag">
                    <span class="sale">-2%</span>
                </div>
            </a>
        </div>
        <div class="article-content">
            <div class="tag">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#address2"></use>
                </svg> Phú Quốc
            </div>
            <h3 class="title_new">
                <a href="#">InterContinental Phú Quốc Long Beach Resort</a>
            </h3>
            <div class="on-star">
                <div class="star">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                </div>
                <a href="#" class="lbl">Khu nghỉ dưỡng</a>
            </div>
            <div class="number-vote">
                <span class="point">9,7</span>
                <span>Tuyệt vời (177 đánh giá)</span>
            </div>
            <div class="bottom-content">
                <div class="price">
                    <p class="price-old">569.000 đ</p>
                    <div class="price-new">533.000 đ</div>
                </div>
                <a class="btn-default gray" href="#">Đặt ngay</a>
            </div>
        </div>
    </div>
    <div class="article-itemt full">
        <div class="article-thumb">
            <a class="thumb_img thumb_5x3" href="#">
                <img src="images/graphics/thumb3.jpg" alt="">
                <div class="tag">
                    <span class="sale">-2%</span>
                </div>
            </a>
        </div>
        <div class="article-content">
            <div class="tag">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#address2"></use>
                </svg> Phú Quốc
            </div>
            <h3 class="title_new">
                <a href="#">InterContinental Phú Quốc Long Beach Resort</a>
            </h3>
            <div class="on-star">
                <div class="star">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#star">
                        </use>
                    </svg>
                </div>
                <a href="#" class="lbl">Khu nghỉ dưỡng</a>
            </div>
            <div class="number-vote">
                <span class="point">9,7</span>
                <span>Tuyệt vời (177 đánh giá)</span>
            </div>
            <div class="bottom-content">
                <div class="price">
                    <p class="price-old">569.000 đ</p>
                    <div class="price-new">533.000 đ</div>
                </div>
                <a class="btn-default gray" href="#">Đặt ngay</a>
            </div>
        </div>
    </div>
</div>
<div class="center mb40">
    <a class="btn-default white" href="#">
        Xem thêm
        <svg class="icon-svg min ml-1 rotate90">
            <use xlink:href="images/icons/icon.svg#next2"></use>
        </svg>
    </a>
</div>
