@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="main-container clearfix">
    <div id="lightgallery" class="lightgallery grid grid__2 mb30 placeholder box-placeholder">
        <div class="item">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tour</li>
            </ol>
            <a class="thumb_img thumb_5x3" href="">
                <img class="img-responsive" src="images/graphics/gallery1.jpg" / alt="">
                <div class="des">
                    <div class="address">Đà Nẵng</div>
                    <p>Khám phá điểm vui chơi, ưu đãi, kinh nghiệm du lịch Đà Nẵng</p>
                </div>
            </a>
        </div>
        <div class="grid grid__2">
            <div class="item">
                <a class="thumb_img thumb_5x3" href="">
                    <img class="img-responsive" src="images/graphics/gallery1.jpg" / alt="">
                </a>
            </div>
            <div class="item">
                <a class="thumb_img thumb_5x3" href="">
                    <img class="img-responsive" src="images/graphics/gallery1.jpg" / alt="">
                </a>
            </div>
            <div class="item">
                <a class="thumb_img thumb_5x3" href="">
                    <img class="img-responsive" src="images/graphics/gallery1.jpg" / alt="">
                </a>
            </div>
            <div class="item">
                <a class="thumb_img thumb_5x3" href="">
                    <img class="img-responsive" src="images/graphics/gallery1.jpg" / alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="flex mb40">
        <div class="col-300 order-1">
            <div class="bg-white radius_10 pd-24 sticky" style="top: 20px;">
                <div class="header-fillter flex">
                    <div class="txt_16"><strong>Đã Nẵng</strong></div>
                    <a class="clear" href="#">
                        Xóa lọc&nbsp;
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#refresh"></use>
                        </svg>
                    </a>
                </div>

                <div class="bold mb15">Loại tour</div>
                <label class="confir_res circle">
                    Trong nước
                    <input type="radio" name="filter-tour-type" value="1" checked="">
                    <span class="checkmark"></span>
                </label>
                <label class="confir_res circle">
                    Quốc tế
                    <input type="radio" name="filter-tour-type" value="3">
                    <span class="checkmark"></span>
                </label>
                <div class="bold mb15">Điểm đi</div>
                <div id="filter-from" class="input-icon mb20">
                    <span class="icon"></span>
                    <select class="select2" name="" style="width: 100%">
                        <option value="">Tất cả</option>
                        <option value="">Thành phố Hà Nội</option>
                    </select>
                </div>
                <div class="bold mb15">Điểm đến</div>
                <div  id="filter-to" class="input-icon mb20">
                    <span class="icon"></span>
                    <select class="select2" name="" style="width: 100%">
                        <option value="">Du lịch Đà Nẵng</option>
                        <option value="">Thành phố Hà Nội</option>
                    </select>
                </div>
                <a class="btn-default full" id="search-tour" href="#">Tìm kiếm</a>
            </div>
        </div>
        <div id="search-items" class="col-main order-2">
            <!-- Search Result-->
            <div id="section-search-result">
                <partial name="_Skeleton" />
                <partial name="_Skeleton" />
                <partial name="_Skeleton" />
                <partial name="_Skeleton" />
                <partial name="_Skeleton" />

            </div>

        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="~/js/modules/tour/constants.js"></script>
    <script type="text/javascript" src="~/js/modules/tour/search.js"></script>
    <script type="text/javascript" src="~/js/modules/tour/global.js"></script>

}